GOOGLE_CLIENT_ID="511548513950-uom0ritghgmct5m5tfob7jh6qhj5ifd2.apps.googleusercontent.com"
NEXT_PUBLIC_GOOGLE_OAUTH_API_URL="https://www.googleapis.com/oauth2/v3/userinfo"
NEXT_PUBLIC_APP_NAME="Baatein"
APP_PASSWORD="dfec99da484a4887b07e955c0801ea"

# MongoDB connection string for ticket dashboard
MONGODB_URI="mongodb+srv://madhav_db_user:MeQQR1Xfyr08bfD0@cluster0.a1b4v2p.mongodb.net/rovor?retryWrites=true&w=majority"
MONGODB_DB="rovor"